@import "tailwindcss";

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    @apply bg-zinc-950 text-zinc-100;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
  }

  
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-zinc-900;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-700 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-500;
  }

  /* Inputs number sin flechas */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
